.small-loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  background: #fff;
  box-shadow:
    -18px 0 #fff,
    18px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow:
      -18px 0 #f76707,
      18px 0 #fff;
  }
  66% {
    background: #f76707;
    box-shadow:
      -18px 0 #fff,
      18px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow:
      -18px 0 #fff,
      18px 0 #f76707;
  }
}
